<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.0.10827" />
  <package id="netfx-Guard" version="1.3.1.0" />
  <package id="netfx-Guard.Tests.xUnit" version="1.3.1.2" />
  <package id="netfx-Patterns.EventSourcing.Tests.xUnit" version="1.0.0.12" />
  <package id="netfx-System.AmbientSingleton" version="1.0.0.0" />
  <package id="netfx-System.Clock" version="1.0.0.2" />
  <package id="netfx-System.ITimestamped" version="1.0.0.1" />
  <package id="netfx-System.Linq.Expressions.ExpressionCombiner.Tests.xUnit" version="1.0.0.0" />
  <package id="xunit" version="1.9.0.1566" />
</packages>