<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="netfx-Guard" version="1.3.1.0" />
  <package id="netfx-Patterns.EventSourcing" version="1.0.0.10" />
  <package id="netfx-Patterns.EventSourcing.Queryable" version="1.0.0.8" />
  <package id="netfx-System.ISerializer" version="1.0.0.1" />
  <package id="netfx-System.ITimestamped" version="1.0.0.0" />
  <package id="netfx-System.Linq.Expressions.ExpressionCombiner" version="1.0.0.1" />
  <package id="netfx-System.SequentialGuid" version="1.0.0.0" />
  <package id="xunit" version="1.9.0.1566" />
</packages>