<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpClient" version="0.3.0" />
  <package id="JsonValue" version="0.3.0" />
  <package id="WebApi.Core" version="0.3.0" />
  <package id="WebApi.Enhancements" version="0.3.0" />
  <package id="WebApi.All" version="0.3.0" />
  <package id="netfx-Microsoft.ApplicationServer.Http.HttpWebService" version="1.0.0.6" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="netfx-Guard" version="1.2.0.0" />
  <package id="netfx-Microsoft.ApplicationServer.Http.JsonNetMediaTypeFormatter" version="1.0.0.2" />
  <package id="netfx-System.Net.Http.HttpClientQuery" version="1.0.0.3" />
</packages>